* {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

a {
  color: blue;
}

body {
  background-color: #41B3A3;
}

.main-content {
  max-width: 45em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

a:hover, a:active {
  color: white;
}

.top-nav {
  background-color: #C38D9E;
  overflow: hidden;
}

.top-nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.top-nav a.active {
  background-color: #E8A87C;
}

.top-nav a:hover {
  background-color: white;
}

.top-nav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child) {
    display: none;
  }
  .top-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .top-nav.responsive {
    position: relative;
  }
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top-nav.responsive {
    float: none;
  }
  .top-nav.responsive {
    position: relative;
  }
  .top-nav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.navbar-full {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 150px)) 1fr;
  grid-template-rows: 30px 5px;
  grid-template-areas:
    "space1 logo title home about suggest play space2"
    "sep sep sep sep sep sep sep sep";
  text-align: center;
}
.navbar-main {
  display: flex;
  flex-direction: row;
  height: 100px;
  max-height: 0.15vw;

}

#nav-logo {
  grid-area: logo;
  flex-grow: 1;
}
#nav-title {
  grid-area: title;
  flex-grow: 1;
}
#nav-about {
  grid-area: about;
  flex-grow: 1;
}
#nav-home {
  grid-area: home;
  flex-grow: 1;
}
#nav-suggest {
  grid-area: suggest;
  flex-grow: 1;
}
#nav-play {
  grid-area: play;
  flex-grow: 1;
}
#nav-sep {
  grid-area: sep;
}

.bottom-bar {
  text-align: center;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

p.text {
  text-align: justify;
}
