{% extends "base.html" %}
{% from 'macros.html' import displayCardSet %}

{% block headblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/suggested.css') }}">
<script src="{{ url_for('static', filename='js/suggest.js') }}"></script>

{% endblock %}

{% block content %}
    <h2>Cards in Hand: </h2>
    {{ displayCardSet(sel_card_img_filenames) }}
    <!--
    {% for suit_list in sel_card_img_filenames %}
        {% for img_info in suit_list %}
            <img src="/static/CardImages/{{ img_info[0] }}.png", width="35", height="66", title="{{ img_info[1] }}">
        {% endfor %}
        <br>
    {% endfor %}
    -->
    <br>

    <h2>Suggested Splits: </h2>
    <table>
        <tr>
            <th></th>
            <th>Set 1</th>
            <th>Set 2</th>
            <th>Set 3</th> 
            <!--
            <th></th>
            -->
        </tr>
        
        {% for split in suggested_split_imgs %} 
        <tr>
            <th>Split {{ loop.index }}</th>
            {% for img_str in split %}
                <th>
                    <img src="data:image/png;base64, {{ img_str }}", height="66">
                </th>
            {% endfor %}
            
            <!--
            <th>
            <a href="{{ url_for('simulate', split_no=loop.index) }}">Simulate</a>
            </th>
            -->
        </tr>
        {% endfor %}
    </table>

<div class="center">    
<form action="{{ url_for('suggest') }}">
    <input type="submit" value="New hand" />
</form>
</div>
{% endblock %}