{% extends "base.html" %}


{% block headblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/suggest.css') }}">
<!--
<noscript>
    <style>
        button.random-button {
            display:none !important;
        }
    </style>
</noscript>
-->
<!--var id = document.getElementById("cardimg-S3");-->
<script src="{{ url_for('static', filename='js/suggest.js') }}"></script>
{% endblock %}


{% block content %}
<div class="main-content">
    <h2>Split Suggester - please select 13 cards:</h2>
    <!-- Format: comma-separated cards [SUIT][NUMBER]. <br>
    For example SK,DA,C10,CQ,S2,S5,S6,H10,HJ,S3,D2,H3,CA</h1></h2>
    -->
    <div id="card-sel-form">
      <form action="/suggest" method="POST" novalidate>
      <div class="card-image-container">
          {% for img_info in all_card_img_info %}
            <div>
                <input class="input-card-image" type="checkbox" id="{{ card_img_prefix }}{{ img_info[2] }}" name="{{ card_img_prefix }}{{ img_info[2] }}"/>
                <label for="{{ card_img_prefix }}{{ img_info[2] }}">
                    <img class="card-image" src ="/static/CardImages/{{ img_info[0] }}.png", title="{{ img_info[1] }}" />
                </label>
            </div>
          {% endfor %}
          
          <div class="button random">
            <button 
              onclick="selectRandom()" 
              class="random-button" 
              type="button" 
              name="random-cards" 
              value="Random">Random cards</button>
          </div>

          <div class="dropdown n_suggestions">
            <label for="dropdown-suggestions">Suggestions</label>
            <select id="dropdown-suggestions" name="dropdown-suggestions">
              <option value=5>5</option>
              <option value=10>10</option>
              <option value=20>20</option>
              <option value=50>50</option>
            </select>
          </div>
          <div class="dropdown unique_code_levels">
            <label for="dropdown-variability">Variability</label>
            <select id="dropdown-variability" name="dropdown-variability">
              <option value=0>None</option>
              <option value=3>Low</option>
              <option value=2>Medium</option>
              <option value=1>High</option>
            </select>
          </div>
          
          <div class="button submit-select">
            <button type="submit" name="submit-cards" value="Submit">Submit</button>
          </div>
      </div>
      </form>    
    </div>    
  </div>
    

{% endblock %}