certifi==2020.6.20
chardet==3.0.4
-e git+git@github.com:vc0489/ChinesePoker.git@d9dd47234860504ff10686eb6f7894e08127be10#egg=ChinesePokerLib
click==7.1.2
Deprecated==1.2.10
Flask==1.1.2
Flask-WTF==0.14.3
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
MarkupSafe==1.1.1
mysql-connector==2.2.9
numpy==1.19.1
pandas==1.1.1
Pillow==7.2.0
pkg-resources==0.0.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.3
six==1.15.0
threadpoolctl==2.1.0
urllib3==1.26.5
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
